{%extends 'base.html'%}

{%block title%}Red Compu - Cookies{%endblock%}

{%block content%}

<body>

    <div class="container_privacidad">
        <div class="cont_privacidad">
            <h1>Cookies</h1>
            <div class="privacidad_info">
                <h2>¿Qué son las cookies?</h2>
                <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo (ordenador,
                    smartphone, tablet) cuando visitas nuestro sitio web o utilizas nuestra aplicación. Estos
                    archivos nos permiten reconocer tu dispositivo y recopilar información sobre tu navegación y
                    preferencias.</p>

                <h2>Tipos de cookies que utilizamos:</h2>

                <label>En RedCompu, utilizamos diferentes tipos de cookies con diversas finalidades:</label>
                <br>

                <label><span>Cookies esenciales:</span> Son necesarias para el funcionamiento básico de nuestro sitio
                    web y nos
                    permiten gestionar las sesiones de usuario, la autenticación y otras funciones
                    esenciales.</label>

                <br>

                <label><span>Cookies de rendimiento:</span> Nos ayudan a mejorar el rendimiento de nuestro sitio web,
                    recopilando
                    información sobre cómo los usuarios interactúan con él, las páginas más visitadas, los errores
                    que pueden surgir, etc.</label>

                <br>

                <label><span>Cookies de funcionalidad:</span> Permiten recordar tus preferencias y personalizar tu
                    experiencia en
                    nuestro sitio web, como tu idioma preferido o la región en la que te encuentras.</label>

                <br>

                <label><span>Cookies de publicidad y seguimiento:</span> Nos permiten ofrecerte publicidad personalizada
                    basada
                    en tus intereses y actividades de navegación. También nos ayudan a medir la eficacia de nuestras
                    campañas publicitarias.</label>

                <h2>Consentimiento para el uso de cookies</h2>

                <p>Al visitar nuestro sitio web o utilizar nuestra aplicación por primera vez, te solicitaremos tu
                    consentimiento para el uso de cookies a través de un banner o pop-up informativo. Puedes aceptar
                    o rechazar las cookies según tus preferencias. Si decides rechazarlas, es posible que algunas
                    funciones de nuestro sitio web no estén disponibles o no funcionen correctamente.</p>

                <h2>Cómo gestionar las cookies</h2>

                <p>Puedes gestionar, bloquear o eliminar las cookies en cualquier momento a través de la
                    configuración de tu navegador. Cada navegador ofrece diferentes métodos para gestionar las
                    cookies, por lo que te recomendamos consultar la sección de ayuda o soporte de tu navegador para
                    obtener instrucciones detalladas.</p>

                <h2>Más información</h2>

                <p>Si tienes alguna pregunta o inquietud sobre nuestro uso de cookies o tecnologías de rastreo, no
                    dudes en ponerte en contacto con nosotros a través de nuestro <a href="mailto:redcompu872@gmail.com"
                        target="_blank">Correo electronico</a> o
                    <a href="https://api.whatsapp.com/send?phone=584129292382" target="_blank">Numero de telefono</a>.
                </p>
            </div>
        </div>
    </div>
</body>

{% endblock %}