{%extends 'base.html'%}

{%block title%}Red Compu - Sistemas Operativos{%endblock%}

{%block content%}

<body>

    <style>
        .nav_container .nav_cont .sub_menu {
            background-color: rgb(1, 17, 31);
        }
    </style>

    <section>
        <div class="container_os">
            <h1 id="subtitle">Centro de descargas de Sistemas Operativos</h1>
            <div class="cont_os">
                <div class="os_box">
                    <div class="os_title">
                        <img id="os_img" src="../static/img/OS/7.png" alt="">
                        <p>Windows 7 es una versión descontinuada de Microsoft Windows, línea de sistemas
                            operativos producida por Microsoft Corporation.</p>
                        <div class="os_stars">
                            <img src="../static/img/OS/Stars.png" alt="">
                            <h2>Gratis</h2>
                        </div>
                        <a href="windows_7">Descargar</a>
                    </div>
                    <div class="os_title">
                        <img id="os_img" src="../static/img/OS/10.png" alt="">
                        <p>Windows 10 es un sistema operativo desarrollado por Microsoft como parte de la
                            familia de sistemas operativos Windows NT.</p>
                        <div class="os_stars">
                            <img src="../static/img/OS/Stars2.png" alt="">
                            <h2>Gratis</h2>
                        </div>
                        <a href="windows_10">Descargar</a>
                    </div>
                    <div class="os_title">
                        <img id="os_img" src="../static/img/OS/11.png" alt="">
                        <p>Windows 11 es el nombre de la versión más reciente del sistema operativo Windows​, además de
                            ser el sucesor de Windows 10.</p>
                        <div class="os_stars">
                            <img src="../static/img/OS/Stars3.png" alt="">
                            <h2>Gratis</h2>
                        </div>
                        <a href="windows_11">Descargar</a>
                    </div>
                </div>
                <h2 id="subtitle_two">Sistemas Operativos basados en Linux</h2>
                <div class="os_box">
                    <div class="os_title">
                        <img id="os_img" src="../static/img/OS/debian.png" alt="">
                        <p>Debian es una distribución de Linux basada en software libre, conocida por su estabilidad,
                            seguridad, y una amplia comunidad de usuarios.</p>
                        <div class="os_stars">
                            <img src="../static/img/OS/Stars2.png" alt="">
                            <h2>Gratis</h2>
                        </div>
                        <a href="debian">Descargar</a>
                    </div>
                    <div class="os_title">
                        <img id="os_img" src="../static/img/OS/ubuntu.png" alt="">
                        <p> Ubuntu es una popular distribución de Linux basada en Debian, conocida por su facilidad de
                            uso, soporte comunitario, y actualizaciones frecuentes.</p>
                        <div class="os_stars">
                            <img src="../static/img/OS/Stars3.png" alt="">
                            <h2>Gratis</h2>
                        </div>
                        <a href="ubuntu">Descargar</a>
                    </div>
                    <div class="os_title">
                        <img id="os_img" src="../static/img/OS/mint.png" alt="">
                        <p> Linux Mint es una distribución de Linux basada en Ubuntu, apreciada por su interfaz
                            amigable, estabilidad, y enfoque en la facilidad de uso.</p>
                        <div class="os_stars">
                            <img src="../static/img/OS/Stars3.png" alt="">
                            <h2>Gratis</h2>
                        </div>
                        <a href="linux_mint">Descargar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{%endblock%}