{%extends 'base.html'%}

{%block title%}Red Compu - Programas{%endblock%}

{%block content%}

<body>

    <style>
        .nav_container .nav_cont .sub_menu {
            background-color: rgb(1, 17, 31);
        }
    </style>
    <section>

        <div class="container_programas">
            <h1 id="subtitle">Centro de descarggas de Programas</h1>
            <div class="cont_programas swiper">
                <!-- <div class="slider_button_pro">
                    <i class="fa-solid fa-circle-arrow-left" onclick="prevSlide()"></i>
                    <i class="fa-solid fa-circle-arrow-right" onclick="nextSlide()"></i>
                </div> -->
                <h2 class="category_title">Programación:</h2>
                <div class="slide_programas swiper-wrapper">
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-developer/boostrap.png" alt="">
                        <h2>Boostrap</h2>
                        <p>Biblioteca multiplataforma.</p>
                        <a href="https://getbootstrap.com/" target="_blank">Visitar</a>
                    </div>
                    <div class="box_programas  swiper-slide">
                        <img src="../static/img/programas-developer/git.png" alt="">
                        <h2>Git</h2>
                        <p>Software de control.</p>
                        <a href="https://git-scm.com/downloads" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-developer/java.png" alt="">
                        <h2>Java</h2>
                        <p>Lenguaje de programación.</p>
                        <a href="https://www.java.com/es/" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-developer/node.png" alt="">
                        <h2>Node Js</h2>
                        <p>Biblioteca multiplataforma.</p>
                        <a href="https://nodejs.org/en/download/package-manager/current" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-developer/sites.png" alt="">
                        <h2>Google Sites</h2>
                        <p>Biblioteca multiplataforma.</p>
                        <a href="https://sites.google.com/new" target="_blank">Visitar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-developer/vs.png" alt="">
                        <h2>Visual Studio</h2>
                        <p>Editor de código.</p>
                        <a href="https://visualstudio.microsoft.com/es/" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-developer/woo_commerce.png" alt="">
                        <h2>Woo Commerce</h2>
                        <p>Biblioteca multiplataforma.</p>
                        <a href="https://woocommerce.com/" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-developer/wordpress.png" alt="">
                        <h2>Wordpress</h2>
                        <p>Plugin de comercio electrónico.</p>
                        <a href="https://ve.wordpress.org/plugins/woocommerce/" target="_blank">Visitar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-developer/xampp.png" alt="">
                        <h2>Xampp</h2>
                        <p>Gestión de bases de datos.</p>
                        <a href="https://www.apachefriends.org/es/download.html" target="_blank">Descargar</a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="cont_programas swiper">
                <!-- <div class="slider_button_pro">
                    <i class="fa-solid fa-circle-arrow-left" onclick="prevSlide()"></i>
                    <i class="fa-solid fa-circle-arrow-right" onclick="nextSlide()"></i>
                </div> -->
                <h2 class="category_title">Diseño Grafico:</h2>
                <div class="slide_programas swiper-wrapper">
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-diseño/after-effects.png" alt="">
                        <h2>After effects</h2>
                        <p>Animación gráfica.</p>
                        <a href="https://www.adobe.com/products/aftereffects.html" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas  swiper-slide">
                       <img src="../static/img/programas-diseño/ai.png" alt="">
                        <h2>Adobe Ilustrator</h2>
                        <p>Diseño vectorial.</p>
                        <a href="https://www.adobe.com/la/products/illustrator.html" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                       <img src="../static/img/programas-diseño/canva.png" alt="">
                        <h2>Canva</h2>
                        <p>Diseño Gráfico.</p>
                        <a href="https://www.canva.com/es_mx/descargar/windows/" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-diseño/corel.png" alt="">
                        <h2>Corel Draw</h2>
                        <p>Ilustración vectorial.</p>
                        <a href="https://www.coreldraw.com/la/free-trials/" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-diseño/fonts.png" alt="">
                        <h2>Google Fonts</h2>
                        <p>Fuentes Gratuitas.</p>
                        <a href="https://fonts.google.com/" target="_blank">Visitar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                       <img src="../static/img/programas-diseño/gimp.png" alt="">
                        <h2>Gimp</h2>
                        <p>Edición imágenes.</p>
                        <a href="http://www.gimp.org.es/" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                       <img src="../static/img/programas-diseño/id.png" alt="">
                        <h2>InDesign</h2>
                        <p>Maquetación editorial.</p>
                        <a href="https://www.adobe.com/la/products/indesign.html" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                       <img src="../static/img/programas-diseño/ps.png" alt="">
                        <h2>Photoshop</h2>
                        <p>Edición fotos.</p>
                        <a href="https://www.adobe.com/la/products/photoshop.html" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                       <img src="../static/img/programas-diseño/skecth.png" alt="">
                        <h2>Sketch</h2>
                        <p>Diseño interfaces.</p>
                        <a href="https://www.sketch.com/" target="_blank">Descargar</a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="cont_programas swiper">
                <!-- <div class="slider_button_pro">
                    <i class="fa-solid fa-circle-arrow-left" onclick="prevSlide()"></i>
                    <i class="fa-solid fa-circle-arrow-right" onclick="nextSlide()"></i>
                </div> -->
                <h2 class="category_title">Internet:</h2>
                <div class="slide_programas swiper-wrapper">
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-internet/chrome.png" alt="">
                        <h2>Google Chrome</h2>
                        <p>Navegador Web.</p>
                        <a href="https://www.google.com/intl/es-419/chrome/" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas  swiper-slide">
                       <img src="../static/img/programas-internet/daemon.png" alt="">
                        <h2>Daemon Tools</h2>
                        <p>Emulación discos.</p>
                        <a href="https://www.daemon-tools.cc/spa/downloads" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                       <img src="../static/img/programas-internet/firefox.png" alt="">
                        <h2>Mozilla firefox</h2>
                        <p>Navegador Web.</p>
                        <a href="https://www.mozilla.org/es-ES/firefox/new/" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-internet/idm.png" alt="">
                        <h2>IDM</h2>
                        <p>Descargar rapidas.</p>
                        <a href="https://www.internetdownloadmanager.com/" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                        <img src="../static/img/programas-internet/opera.png" alt="">
                        <h2>Opera</h2>
                        <p>Navegador web.</p>
                        <a href="https://www.opera.com/es-419" target="_blank">Visitar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                       <img src="../static/img/programas-internet/skype.png" alt="">
                        <h2>Skype</h2>
                        <p>Videollamadas gratuitas.</p>
                        <a href="https://www.skype.com/es/get-skype/" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                       <img src="../static/img/programas-internet/winrar.png" alt="">
                        <h2>Winrar</h2>
                        <p>Comprensión archivos.</p>
                        <a href="https://www.winrar.es/descargas" target="_blank">Descargar</a>
                    </div>
                    <div class="box_programas swiper-slide">
                       <img src="../static/img/programas-internet/ws.png" alt="">
                        <h2>Whatsapp</h2>
                        <p>Mensajería instantánea.</p>
                        <a href="https://www.whatsapp.com/download?lang=es_LA" target="_blank">Descargar</a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <!--JAVASCRIPT-->
    <script>
        var swiper = new Swiper(".swiper", {
            slidesPerView: 1,
            spaceBetween: 10,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            breakpoints: {
                150: {
                    slidesPerView: 1,
                    spaceBetween: 0,
                },
                350: {
                    slidesPerView: 2,
                    spaceBetween: 0,
                },
                640: {
                    slidesPerView: 4,
                    spaceBetween: 0,
                },
                768: {
                    slidesPerView: 5,
                    spaceBetween: 0,
                },
                1024: {
                    slidesPerView: 6,
                    spaceBetween: 0,
                },
            },
        });
    </script>

    <!--SWIPERJS-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</body>

{%endblock%}