{%extends 'base.html'%}

{%block title%}Red Compu - Nosotros{%endblock%}

{%block content%}

<body>

    <style>
        .nav_container .nav_cont .sub_menu {
            background-color: rgb(1, 17, 31);
        }
    </style>

    <section>
        <div class="container_nosotros">
            <div class="nosotros_img">
                <img src="../static/img/about us.jpg" alt="">
                <div class="nosotros_img_text">
                    <p>Innovación que transforma el futuro</p>
                </div>
            </div>
            <div class="nosotros_inf">
                <h1>¿Quienes Somos?</h1>
                <p>Somos una pequeña empresa emprendedora especializada en ofrecer soluciones integrales en el ámbito
                    digital. En Red Compu, nuestro enfoque se centra en brindar servicios personalizados en programación
                    y diseño gráfico, adaptados a las necesidades específicas de cada cliente.</p>
                <br>
                <p>En Red Compu, combinamos creatividad y tecnología para ayudar a tu negocio a destacar en un mundo
                    digital en constante evolución. Estamos comprometidos con la excelencia y la satisfacción del
                    cliente, proporcionando soluciones digitales que impulsen tu éxito.</p>
            </div>
            <div class="nosotros_beneficios">
                <h1>Beneficios de trabajar con nosotros</h1>
                <div class="beneficios_flex">
                    <div class="beneficios_text">
                        <h2>Soluciones Personalizadas</h2>
                        <p>Cada proyecto se adapta a las necesidades específicas del cliente, asegurando que las
                            soluciones propuestas sean únicas y altamente efectivas.</p>
                    </div>
                    <div class="beneficios_text">
                        <h2>Expertos en Tecnología</h2>
                        <p>Contamos con un equipo de profesionales altamente capacitados en las últimas tecnologías y
                            tendencias en programación y diseño gráfico, garantizando resultados de alta calidad.</p>
                    </div>
                    <div class="beneficios_text">
                        <h2>Eficiencia y Rapidez</h2>
                        <p>Utilizamos metodologías ágiles en nuestros procesos de desarrollo, lo que nos permite
                            entregar proyectos de manera rápida y eficiente sin comprometer la calidad.</p>
                    </div>
                </div>
            </div>
            <div class="location">
                <h1>Ubicación</h1>
                <p>Estamos ubicadados en el pintoresco pueblo de Zaraza, en el estado Guárico, Venezuela. Nos
                    encontramos en el corazón de la región llanera, rodeados de la belleza natural y la calidez de
                    nuestra comunidad. Desde aquí, ofrecemos nuestras soluciones tecnológicas a clientes locales y de
                    todo el país, brindando un servicio personalizado y cercano.</p>
            </div>
        </div>
    </section>
</body>

{%endblock%}