{%extends 'base.html'%}

{%block title%}Red Compu - Ubuntu{%endblock%}

{%block content%}

<body>
    <style>
        .nav_container .nav_cont .sub_menu {
            background-color: rgb(1, 17, 31);
        }
    </style>
    <section>
        <div class="container_os_download">

            <div class="os_img_title">
                <img src="../../static/img/OS/mint.png" alt="">
                <div class="os_img_text">
                    <h1>Descargar Linux Mint para PC</h1>
                    <p>El sistema operativo más amigable y elegante <br> para usuarios y entusiastas: Linux Mint.
                    </p>
                </div>
            </div>
            <div class="cont_os_download">
                <div class="cont_os_text">
                    <p>
                        <span>¡Bienvenido!</span> Estás a punto de descargar una de las distribuciones de Linux más
                        populares y amigables: Linux Mint. Con su enfoque en la facilidad de uso, la estabilidad y la
                        familiaridad, Linux Mint es una excelente opción para aquellos que buscan una transición suave
                        desde otros sistemas operativos.
                    </p>
                    <h2>Características principales de Linux Mint:</h2>
                    <p>1) Entorno de escritorio Cinnamon: Linux Mint utiliza Cinnamon como su entorno de escritorio
                        predeterminado, que ofrece una experiencia familiar y fácil de usar, similar a los sistemas
                        operativos tradicionales.</p>
                    <p>2) Estabilidad y confiabilidad: Basado en Ubuntu, Linux Mint se beneficia de su sólida base y
                        ofrece una experiencia estable y confiable para los usuarios.
                    </p>
                    <p>3) Centro de software fácil de usar: Linux Mint incluye su propio Centro de Software, que
                        facilita la instalación y gestión de aplicaciones, así como la búsqueda de nuevas herramientas y
                        programas.</p>
                    <p>4) Personalización: Linux Mint ofrece una amplia gama de opciones de personalización para adaptar
                        el sistema a tus necesidades y preferencias, desde la apariencia del escritorio hasta las
                        configuraciones del sistema.
                    </p>
                    <p>5) Comunidad activa: Linux Mint cuenta con una comunidad activa de usuarios y desarrolladores que
                        brindan soporte y ayuda a través de foros en línea, blogs y canales de redes sociales.</p>

                    <h2>Requisitos del sistema:</h2>

                    <p><span>Procesador: </span> Procesador de 1 GHz o superior</p>
                    <p><span>Memoria RAM:</span> 1 GB de RAM (se recomiendan 2 GB para un rendimiento óptimo)</p>
                    <p><span>Espacio en disco:</span> 15 GB de espacio disponible en disco</p>
                    <p><span>Tarjeta gráfica:</span> Tarjeta gráfica con soporte para resolución de pantalla de 1024x768
                        píxeles</p>
                    <p><span>Conexión a internet:</span> Se recomienda para actualizaciones del sistema y acceso a
                        repositorios de software</p>

                    <h2>Instrucciones de instalación:</h2>

                    <p>1) Descarga la imagen ISO de Linux Mint desde el sitio web oficial de Linux Mint.

                    </p>
                    <p>2) Crea un medio de instalación: Puedes grabar la imagen ISO en un DVD o crear una unidad USB
                        de
                        arranque utilizando herramientas como <a href="https://rufus.ie/es/" target="_blank">Rufus</a> o
                        <a href="https://etcher.balena.io/" target="_blank">BalenaEtcher</a>.
                    </p>
                    <p>3) Inicia la instalación: <br>
                        - Inserta el DVD o la unidad USB en tu computadora y reinicia el sistema. <br>
                        - Configura el BIOS/UEFI de tu computadora para arrancar desde el medio de instalación. <br>
                        - Selecciona "Instalar Linux Mint" en el menú de arranque.
                    </p>
                    <p>4) Sigue las instrucciones en pantalla: <br>
                        - Selecciona el idioma y la región. <br>
                        - Configura la conexión a Internet (opcional). <br>
                        - Selecciona la distribución del teclado. <br>
                        - Elige el tipo de instalación (normalmente recomendado seleccionar "Instalar Linux Mint"). <br>
                        - Configura las particiones del disco (puedes optar por instalar Linux Mint junto a otro sistema
                        operativo, borrar el disco completo o configurar particiones manualmente). <br>
                        - Crea un usuario y establece una contraseña.
                    </p>
                    <p>5) Completa la instalación: <br>
                        - Una vez finalizada la instalación, reinicia tu sistema y retira el medio de instalación. <br>
                        - Inicia sesión en tu nuevo sistema Linux Mint y comienza a disfrutar de todas sus
                        características y aplicaciones.
                    </p>
                    <h2>Soporte y actualizaciones</h2>
                    <p>Linux Mint cuenta con una sólida comunidad de usuarios y desarrolladores que proporcionan soporte
                        y ayuda a través de foros en línea, blogs y otros canales de comunicación. Además, Linux Mint
                        ofrece actualizaciones regulares del sistema y parches de seguridad para garantizar un entorno
                        seguro y confiable.
                    </p>
                </div>
                <div class="cont_os_button">
                    <h2>Descarga Linux Mint ahora:</h2>
                    <a href="https://linuxmint.com/" target="_blank"><i
                            class="fa-solid fa-circle-arrow-down"></i>Descargar</a>
                </div>
            </div>
        </div>
    </section>
</body>

{%endblock%}