{%extends 'base.html'%}

{%block title%}Red Compu - Windows 7{%endblock%}

{%block content%}

<body>
    <style>
        .nav_container .nav_cont .sub_menu {
            background-color: rgb(1, 17, 31);
        }
    </style>
    <section>
        <div class="container_os_download">
            <div class="os_img_title">
                <img src="../../static/img/OS/windows_7.png" alt="">
                <div class="os_img_text">
                    <h1>Descargar Windows 7 para PC</h1>
                    <p>El sistema mas ligero de <a href="#">Microsoft.</a></p>
                </div>
            </div>
            <div class="cont_os_download">
                <div class="cont_os_text">
                    <p>
                        <span>¡Bienvenido!</span> Estás a punto de descargar uno de los sistemas operativos más
                        populares y queridos
                        de Microsoft: Windows 7. Lanzado en octubre de 2009, Windows 7 ha sido conocido por su
                        estabilidad, su facilidad de uso y su rendimiento optimizado, lo que lo convierte en una
                        excelente opción tanto para usuarios domésticos como profesionales.
                    </p>
                    <h2>Características principales de Windows 7:</h2>
                    <p>1) Interfaz intuitiva: Windows 7 ofrece una interfaz limpia y fácil de navegar, con la barra de
                        tareas rediseñada y el nuevo menú de inicio.</p>
                    <p>2) Rendimiento mejorado: Disfruta de un sistema operativo rápido y ágil, con tiempos de arranque
                        más cortos y mejor administración de recursos.</p>
                    <p>3) Compatibilidad: Es compatible con una amplia gama de software y hardware, garantizando que
                        puedas seguir usando tus aplicaciones y dispositivos favoritos.</p>
                    <p>4) Seguridad: Incluye herramientas avanzadas de seguridad como Windows Defender y un firewall
                        mejorado para proteger tu sistema de amenazas.</p>
                    <p>5) Funciones avanzadas: Aprovecha características como Aero Peek, Aero Snap y Aero Shake, que
                        hacen que la gestión de ventanas sea más eficiente y agradable.</p>
                    <h2>Requisitos del sistema:</h2>
                    <p><span>Procesador: </span> 1 GHz o más rápido, compatible con 32 bits (x86) o 64 bits (x64)</p>
                    <p><span>Memoria RAM:</span> 1 GB (32 bits) o 2 GB (64 bits)</p>
                    <p><span>Espacio en disco:</span> 16 GB (32 bits) o 20 GB (64 bits)</p>
                    <p><span>Tarjeta gráfica:</span> DirectX 9 con WDDM 1.0 o superior</p>
                    <h2>Instrucciones de instalación:</h2>
                    <p>1) Descarga el archivo ISO de Windows 7 desde el enlace proporcionado.</p>
                    <p>2) Crea un medio de instalación: Puedes grabar el archivo ISO en un DVD o crear una unidad USB de
                        arranque utilizando herramientas como <a href="https://rufus.ie/es/" target="_blank">Rufus</a>.
                    </p>
                    <p>3) Instala Windows 7: Inserta el DVD o la unidad USB en tu computadora, reinicia el sistema y
                        sigue
                        las instrucciones en pantalla para completar la instalación.</p>
                    <h2>Soporte y actualizaciones</h2>
                    <p>Aunque Microsoft finalizó el soporte oficial para Windows 7 el 14 de enero de 2020, puedes
                        encontrar muchas soluciones y soporte en línea a través de foros y comunidades de usuarios. Sin
                        embargo, es recomendable considerar actualizar a una versión más reciente de Windows para
                        disfrutar de las últimas características y actualizaciones de seguridad.</p>
                    <h3>¡Descarga ahora y redescubre la eficiencia y simplicidad de Windows 7!</p>
                </div>
                <div class="cont_os_button">
                    <h2>Descarga Windows 7 ahora:</h2>
                    <a href="https://mega.nz/file/xc4SHTzL#8kFaxIV8CopLByz0Hdfbjay-kb_yuwUUljMaJQL4bWo"
                        target="_blank"><i class="fa-solid fa-circle-arrow-down"></i>Descargar</a>
                </div>
            </div>
        </div>
    </section>
</body>

{%endblock%}