{%extends 'base.html'%}

{%block title%}Red Compu - Windows 11{%endblock%}

{%block content%}

<body>
    <style>
        .nav_container .nav_cont .sub_menu {
            background-color: rgb(1, 17, 31);
        }
    </style>
    <section>
        <div class="container_os_download">
            <div class="os_img_title">
                <img src="../../static/img/OS/windows_11.png" alt="">
                <div class="os_img_text">
                    <h1>Descargar Windows 11 para PC</h1>
                    <p>El sistema mas avanzado de <a href="#">Microsoft.</a></p>
                </div>
            </div>
            <div class="cont_os_download">
                <div class="cont_os_text">
                    <p>
                        <span>¡Bienvenido!</span> Estás a punto de descargar el sistema operativo más reciente y
                        avanzado de Microsoft: Windows 11. Lanzado en octubre de 2021, Windows 11 destaca por su diseño
                        moderno, su rendimiento optimizado y sus nuevas funciones que mejoran la productividad y la
                        experiencia del usuario, haciéndolo una opción ideal tanto para usuarios domésticos como
                        profesionales.
                    </p>
                    <h2>Características principales de Windows 11:</h2>
                    <p>1) Interfaz renovada: Windows 11 ofrece una interfaz elegante y moderna, con un menú de inicio
                        rediseñado, ventanas con bordes redondeados y nuevas animaciones fluidas.</p>
                    <p>2) Rendimiento mejorado: Disfruta de un sistema operativo rápido y eficiente, con tiempos de
                        arranque más cortos y mejor administración de recursos para un rendimiento superior.</p>
                    <p>3) Multitarea avanzada: Aprovecha características como Snap Layouts, Snap Groups y Desktops que
                        facilitan la organización de múltiples ventanas y mejoran la productividad.</p>
                    <p>4) Integración de Microsoft Teams: Comunicación más sencilla con amigos, familiares y colegas
                        directamente desde la barra de tareas con la integración de Microsoft Teams.</p>
                    <p>5) Seguridad avanzada: Incluye herramientas de seguridad mejoradas como Windows Hello, cifrado de
                        dispositivo, y actualizaciones de seguridad periódicas para proteger tu sistema de amenazas.</p>
                    <p>6) Compatibilidad con aplicaciones Android: Ejecuta aplicaciones de Android en tu PC gracias a la
                        compatibilidad integrada con la Amazon Appstore (disponible en ciertos mercados).</p>
                    <h2>Requisitos del sistema:</h2>
                    <p><span>Procesador: </span> 1 GHz o más rápido con 2 o más núcleos en un procesador compatible de
                        64 bits o SoC</p>
                    <p><span>Memoria RAM:</span> 4 GB o más</p>
                    <p><span>Espacio en disco:</span> 64 GB o más de almacenamiento disponible</p>
                    <p><span>TPM:</span> Módulo de plataforma segura (TPM) versión 2.0</p>
                    <p><span>Firmware del sistema:</span>UEFI, compatible con Arranque Seguro</p>
                    <p><span>Tarjeta gráfica:</span> Compatible con DirectX 12 o posterior con controlador WDDM 2.0</p>
                    <p><span>Pantalla:</span> Pantalla de alta definición (720p) con una diagonal de más de 9” y 8 bits
                        por canal de color</p>
                    <p><span>Conexión a internet:</span> Se requiere una conexión a Internet para realizar
                        actualizaciones y aprovechar algunas características, incluida la configuración inicial del
                        dispositivo.</p>
                    <h2>Instrucciones de instalación:</h2>
                    <p>1) Descarga el archivo ISO de Windows 10 desde la pagina oficial de Microsoft.</p>
                    <p>2) Crea un medio de instalación: Puedes grabar el archivo ISO en un DVD o crear una unidad USB de
                        arranque utilizando herramientas como <a href="https://rufus.ie/es/" target="_blank">Rufus</a>.
                    </p>
                    <p>3) Instala Windows 11: Inserta el DVD o la unidad USB en tu computadora, reinicia el sistema y
                        sigue
                        las instrucciones en pantalla para completar la instalación.</p>
                    <h2>Soporte y actualizaciones</h2>
                    <p>Windows 11 recibe soporte y actualizaciones continuas de Microsoft, asegurando que tu sistema
                        operativo siempre esté al día con las últimas características y parches de seguridad. Además,
                        puedes encontrar soluciones y soporte en línea a través de foros y comunidades de usuarios.

                    </p>
                </div>
                <div class="cont_os_button">
                    <h2>Descarga Windows 11 ahora:</h2>
                    <a href="https://www.microsoft.com/es-es/software-download/windows11" target="_blank"><i
                            class="fa-solid fa-circle-arrow-down"></i>Descargar</a>
                </div>
            </div>
        </div>
    </section>
</body>

{%endblock%}