{%extends 'base.html'%}

{%block title%}Red Compu - Windows 10{%endblock%}

{%block content%}

<body>
    <style>
        .nav_container .nav_cont .sub_menu {
            background-color: rgb(1, 17, 31);
        }
    </style>
    <section>
        <div class="container_os_download">
            <div class="os_img_title">
                <img src="../../static/img/OS/windows_10.png" alt="">
                <div class="os_img_text">
                    <h1>Descargar Windows 10 para PC</h1>
                    <p>El sistema mas avanzado de <a href="#">Microsoft.</a></p>
                </div>
            </div>
            <div class="cont_os_download">
                <div class="cont_os_text">
                    <p>
                        <span>¡Bienvenido!</span> Estás a punto de descargar uno de los sistemas operativos
                        más modernos y versátiles de Microsoft: Windows 10. Lanzado en julio de 2015, Windows 10 ha sido
                        elogiado por su diseño innovador, su rendimiento optimizado y sus características avanzadas, lo
                        que lo convierte en una opción ideal tanto para usuarios domésticos como profesionales.
                    </p>
                    <h2>Características principales de Windows 10:</h2>
                    <p>1) Interfaz moderna: Windows 10 ofrece una interfaz intuitiva y personalizable, con el menú de
                        inicio mejorado y la integración de Cortana, tu asistente personal digital.</p>
                    <p>2) Rendimiento optimizado: Disfruta de un sistema operativo rápido y eficiente, con tiempos de
                        arranque reducidos y mejor gestión de recursos para un rendimiento superior.</p>
                    <p>3) Compatibilidad: Compatible con una amplia gama de software y hardware, asegurando que puedas
                        seguir utilizando tus aplicaciones y dispositivos favoritos sin problemas.</p>
                    <p>4) Seguridad avanzada: Incluye herramientas de seguridad como Windows Defender, un firewall
                        mejorado, y actualizaciones de seguridad periódicas para proteger tu sistema de amenazas.</p>
                    <p>5) Funciones avanzadas: Aprovecha características como el Escritorio Virtual, Continuum, y
                        Windows Hello, que facilitan la multitarea y mejoran la experiencia de usuario.</p>
                    <h2>Requisitos del sistema:</h2>
                    <p><span>Procesador: </span> Procesador de 1 GHz o más rápido o SoC</p>
                    <p><span>Memoria RAM:</span> 1 GB para 32 bits o 2 GB para 64 bits</p>
                    <p><span>Espacio en disco:</span> 16 GB para SO de 32 bits o 20 GB para SO de 64 bits</p>
                    <p><span>Tarjeta gráfica:</span> DirectX 9 o posterior con controlador WDDM 1.0</p>
                    <p><span>Pantalla:</span> Resolución de 800x600 o superior</p>
                    <p><span>Conexión a internet:</span> Se requiere una conexión a Internet para realizar
                        actualizaciones y aprovechar algunas características.</p>
                    <h2>Instrucciones de instalación:</h2>
                    <p>1) Descarga el archivo ISO de Windows 10 desde los enlaces proporcionados.</p>
                    <p>2) Crea un medio de instalación: Puedes grabar el archivo ISO en un DVD o crear una unidad USB de
                        arranque utilizando herramientas como <a href="https://rufus.ie/es/" target="_blank">Rufus</a>.
                    </p>
                    <p>3) Instala Windows 10: Inserta el DVD o la unidad USB en tu computadora, reinicia el sistema y
                        sigue
                        las instrucciones en pantalla para completar la instalación.</p>
                    <h2>Soporte y actualizaciones</h2>
                    <p>Windows 10 recibe soporte y actualizaciones continuas de Microsoft, asegurando que tu sistema
                        operativo siempre esté al día con las últimas características y parches de seguridad. Además,
                        puedes encontrar soluciones y soporte en línea a través de foros y comunidades de usuarios.</p>
                </div>
                <div class="cont_os_button">
                    <h2>Descarga Windows 10 ahora:</h2>
                    <div class="cont_os_button_flex">
                        <a href="https://www.mediafire.com/file/ycb5vihs1ek013y/Windows+(x32).iso/file"
                            target="_blank"><i class="fa-solid fa-circle-arrow-down"></i>Descargar 32 bits</a>
                        <a href="https://www.mediafire.com/file/nfcrwbf5upavepj/Windows+(x64).iso/file"
                            target="_blank"><i class="fa-solid fa-circle-arrow-down"></i>Descargar 64 bits</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{%endblock%}